<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
    <remove name="WebDAVModule"/>
  </modules>
    <handlers>
    <remove name="WebDAV"/>
    <remove name="WebDAVHandler"/>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <clear/>
        <rule name="nodejs">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
  
    <security>
      <requestFiltering>
        <hiddenSegments>
          <clear/>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
