.card-bodys {
    overflow-y: auto;
    max-height: 400px;
}

.cardbodys {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
}

.equal-width-table th,
.equal-width-table td {
    white-space: nowrap;
}

#statusdesign {
    width: 75px;
    color: white;
    height: 25px;
    border-radius: 25px;
    font-size: 14px;
}
#statusdesignapproval{
    width: 190px;
    color: white;
    border-radius: 25px;
    font-size: 14px;
}

#colors{
    background-color: #232879;
    color: white;
}
#btncolors{
    background-color: #E06100 ;
    color: white;
}
.table-responsive {
    overflow-x: auto; 
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
   td {
    text-align: left;
    padding: 5px;
  }
  
  
.sticky-col {
    position: sticky;
    background: white; 
    z-index: 1; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  }
  
  th.sticky-col {
    z-index: 2; 
  }
  #colors{
    background-color: #232879;
    color: white;
    border-color:#232879 ;
}