<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">

      <!-- Page Title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a routerLink="/Dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a>Truck Master</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="card m-3 p-3">
        <div class="card-body">

          <!-- Create Button -->
          <div class="row mb-3">
            <div class="col-2 ms-auto text-end">
              <a class="btn btn-primary waves-effect waves-light" [class.disabled]="createstatus === false" routerLink="/createtruckmaster" id="btncolors">
                <i class="fa fa-plus"></i>&nbsp;Create
              </a>
            </div>
          </div>


<table
  class="table table-striped table-bordered nowrap datatablegrid"
  style="border-collapse: collapse; border-spacing: 0; width: 90%; margin: auto;"
>
  <thead>
    <tr>
      <th id="colors">Booking No</th>
      <th id="colors">Asset A/c</th>
      <th id="colors">Advance A/c</th>
      <th id="colors">Status</th>
      <th id="colors">Update</th>
      <th id="colors">Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let truck of trucks">
      <td>{{ truck.BookingNumber }}</td>
      <td>{{ truck.AssetA_C }}</td>
      <td>{{ truck.AdvanceA_C }}</td>

      <td>
        <span id="statusdesign" class="{{ truck.spancolur1 }}">
          {{ truck.statusname1 }}
        </span>
      </td>

      <td>
        <a
          type="button"
          id="statusdesign" [class.disabled]="!statusupdate" [style.pointer-events]="!statusupdate ? 'none' : 'auto'"
          class="badge badge-primary"
          (click)="assignValue(truck.TruckID)"
        >
          <i class="mdi mdi-pencil d-block font-size-16px"></i>
        </a>
      </td>

      <td>
        <a
          type="button"
          id="statusdesign"
          class="badge badge-danger" [class.disabled]="!statusdelete" [style.pointer-events]="!statusdelete ? 'none' : 'auto'"
          (click)="confirmDelete(truck.TruckID)"
        >
          <i class="mdi mdi-delete d-block font-size-16px"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>


        </div>
      </div>
    </div>
  </div>
</div>
