
#sidebar-menu ul li ul.sub-menu li a {
  padding: .75rem 1.5rem .75rem 4.4rem;
  font-size: .85rem;
  color: var(--bs-sidebar-menu-sub-item-color);
}
#sidebar-menu ul li a i {
  height: 16px;
    width: 16px;
    color: #545a6d;
    fill: rgba(84, 90, 109, 0.2);
    margin-right: 10px;
    margin-top: -3px;
}
/* Export & Import Menu Headings */
.export-menu, .import-menu {
  color: #545a6d;
  font-size: 0.9rem;
  font-weight: 500;
}
#sidebar-menu .sub-menu .exportsubmenu{
  padding-left:15px;
}
#sidebar-menu .sub-menu .exportsubmenu:after{
  padding-left:15px;
}
 .has-arrow {
  min-width: 320px !important;
}
.sub-menu {
  min-width: 250px !important; 
  white-space: nowrap !important;
  text-overflow: ellipsis !important; 
  text-align: left; 
}
.sub-menu li {
  padding-right: 10px !important; /* Adjust spacing if needed */
}
#sidebar-menu .has-arrow:after {
  margin-right:60px;
}
/* Styles for screens smaller than 768px (typical mobile devices) */
@media (max-width: 767.98px) {
    .vertical-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: #fff;
        overflow-y: auto;
        transition: transform 0.3s ease-in-out;
        /* Only transform needs to be transitioned */
    }
    .vertical-menu.closed {
        transform: translateX(-100%);
    }
    #sidebar-menu {
        padding: 20px;
    }
    .metismenu {
        margin-bottom: 20px;
    }
}
.sub-menu {
    display: none;
  }
  .sub-menu.show {
    display: block;
  }
  .sub-menu {
    font-size: 7px; 
  }
  .sub-menu li {
    line-height: 0.5; 
  }
  
  