<div class="content">
    <div class="auth-page">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <form class="login-form" [formGroup]="resetpassword">
                    <div class="col-xxl-3 col-lg-4 col-md-5">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-80">
                                    <div class="mb-4 mb-md-5 text-center">
                                        <a routerLink="/Login" class="d-block auth-logo">
                                            <img src="assets/lagin.png" alt="" height="60">
                                        </a>
                                    </div>
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <h5 class="mb-0">Reset Your Password</h5>

                                        </div>
                                        <div class="alert alert-success text-center my-4" role="alert">
                                            Enter Your New Password
                                        </div>
                                        <div class="mt-4 pt-2">
                                            <div class="mb-3">
                                                <div class="input-group">
                                                    <input type="password" formControlName="password" class="form-control" required placeholder="New Password" [type]="passwordVisible ? 'text' : 'password'">
                                                    <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon" (click)="togglePasswordVisibility()"><i class="mdi mdi-eye-outline"></i></button>

                                                </div>
                                            </div>
                                            <div class="mb-3">

                                                <div class="input-group">
                                                    <input type="password" formControlName="confirmPassword" class="form-control" required placeholder="Confirm Password" [type]="ConpasswordVisible ? 'text' : 'password'">
                                                    <button class="btn btn-light shadow-none ms-0" type="button" id="password-addon" (click)="togglePassword()"><i class="mdi mdi-eye-outline"></i></button>

                                                </div>

                                            </div>

                                            <div class="mb-3">
                                                <button type="submit" class="btn btn-primary w-100 waves-effect waves-light" (click)="submit()">Submit </button>

                                            </div>


                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>
                </form>
                <!-- end col -->
                <div class="col-xxl-9 col-lg-8 col-md-7" style="position: fixed; height: 100vh; right: 0; top: 0;">

                    <div class="auth-bg pt-md-5 p-4 d-flex">
                        <div class="bg-overlay bg-primary hover" style="opacity: 0.4"></div>
                        <ul class="bg-bubbles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- end bubble effect -->


                        <div class="row justify-content-center align-items-center">
                            <div class="col-xl-7">
                                <div class="p-0 p-sm-4 px-xl-0">
                                    <div id="reviewcarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                        <!-- end carousel-inner -->
                                    </div>
                                    <!-- end review carousel -->
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container fluid -->
    </div>
</div>