<div class="main-content">
    <div class="page-content">
        <div class="row">
            <div class="col-12">
                <div class="col-sm-11">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18" runat="server">Booking Allocation Details</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" id="colors">
                            <h6 class="modal-title" style="color: white;" id="AgencyLabel">
                                {{headerdata}}
                            </h6>
                           
                        </div>

                        <div class="modal-body">
                            <form [formGroup]="Allocationform">
                                <div class="row">
                                    <!-- Vendor Name -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Vendor Name<span style="color: red;"> *</span></label>
                                            <select class="form-control" formControlName="Vendor" data-live-search="true">
                                                <option value="" selected disabled>--Select--</option>
                                                <option *ngFor="let customer of getvendordata" [value]="customer.CD_ID">
                                                    {{ customer.CompanyName }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f['Vendor'].errors" class="validation-invalid-label">
                                                <div *ngIf="f['Vendor'].errors['required']">
                                                    <span style="color: red;">Vendor Name is required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Company Name -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Company Name<span style="color: red;"> *</span></label>
                                            <select class="form-control" formControlName="company" data-live-search="true"
                                                (change)="onCompanyName($event)">
                                                <option value="" selected disabled>--Select--</option>
                                                <option *ngFor="let company of getcompanydata" [value]="company.Client_Id">
                                                    {{ company.CompanyName }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f['company'].errors" class="validation-invalid-label">
                                                <div *ngIf="f['company'].errors['required']">
                                                    <span style="color: red;">Company Name is required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Booking No -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Booking No<span style="color: red;"> *</span></label>
                                            <select class="form-control" formControlName="bookingno" data-live-search="true">
                                                <option value="" selected disabled>--Select--</option>
                                                <option *ngFor="let customer of getbookingNumber"
                                                    [value]="customer.BookingNumber">
                                                    {{ customer.BookingNumber }}
                                                </option>
                                            </select>
                                            <div *ngIf="submitted && f['bookingno'].errors" class="validation-invalid-label">
                                                <div *ngIf="f['bookingno'].errors['required']">
                                                    <span style="color: red;">Booking No is required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Status -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Status<span style="color: red;"> *</span></label>
                                            <select class="form-control" formControlName="status" data-live-search="true">
                                                <option value="" selected disabled>--Select--</option>
                                                <option value="0">Pending</option>
                                                <option value="1">Completed</option>
                                            </select>
                                            <div *ngIf="submitted && f['status'].errors" class="validation-invalid-label">
                                                <div *ngIf="f['status'].errors['required']">
                                                    <span style="color: red;">Status is required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="text-end mt-3">
                                    <a id="btncolors" class="btn btn-primary w-md" routerLink="/Allocationgrid">
                                        <i class="bx bx-arrow-back" aria-hidden="true"></i>&nbsp;Back
                                    </a>
                                    &nbsp;
                                    <button id="btncolors" class="btn btn-primary w-md" type="submit" (click)="submit()">
                                        <i class='bx bxs-navigation'></i>&nbsp;{{ buttontext }}
                                    </button>
                                </div>
                            </form>
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
