<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

<div class="change-password-card">
  <h2>Change Password</h2>

  <div class="profile-image">
    <div class="image-wrapper">
      <img src="assets/profile.png" alt="Profile Image" />
      <!-- <span><i class="fa-solid fa-camera"></i></span> -->
    </div>
  </div>

  <form [formGroup]="ChangePassword" (ngSubmit)="Save()">
    <label for="oldpassword">Old Password</label>
    <div class="input-group">
      <input
        [type]="oldPasswordVisible ? 'text' : 'password'"
        formControlName="oldpassword"
        placeholder="Enter your old password"
        id="oldpassword"
      />
      <span class="icon-right" (click)="toggleOldPasswordVisibility()">
        <i class="fa" [ngClass]="oldPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
      </span>
    </div>

    <label for="newpassword">New Password</label>
    <div class="input-group">
      <input
        [type]="newPasswordVisible ? 'text' : 'password'"
        formControlName="newpassword"
        placeholder="Enter your new password"
        id="newpassword"
      />
      <span class="icon-right" (click)="toggleNewPasswordVisibility()">
        <i class="fa" [ngClass]="newPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
      </span>
    </div>

    <label for="confirmpassword">Confirm Password</label>
    <div class="input-group">
      <input
        [type]="confirmPasswordVisible ? 'text' : 'password'"
        [(ngModel)]="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Confirm your new password"
        required
      />
      <span class="icon-right" (click)="toggleConfirmPasswordVisibility()">
        <i class="fa" [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
      </span>
    </div>

    <div class="buttons">
      <button type="button" (click)="goBack()"> Back</button>
      <button type="submit"> Update</button>
    </div>
  </form>
</div>
</div></div></div>
